@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
}

nav{
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: palevioletred;
}

#title{
    padding: 10px;
    color: whitesmoke
}

#logo{
    height: 34px;
   
}

main{
    max-height: 100%;
    max-width: 100%;
   
    padding-top: 30px;
}

section{
    margin-bottom: 30px;
     background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.place-img{
    height: 25vw;
    width: 20vw;
    border-radius: 10px;
}

.bar{
   
    display:flex;
    padding: 5px;
   width: 40%;
}

.block{  
    margin: auto;
    padding: 30px;
}

#loc-pointer{
    height: 22px;
}

a{
    color: grey;
   
}

#name{
    padding-left: 8px;
    font-size: large;
    letter-spacing: 2px;
    flex-grow: 1;
}

#head{
    padding-bottom: 10px;
}
.info{
    padding: 8px ;
    
}

.about-place{
    padding:5px 0px;
}